.a-button {
    cursor: pointer;
}

.a-button:hover {
    filter: brightness(98%);
}

.a-button--primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-primary--contrast);
}