.a-columns {
    --spacing: 1.5em;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.a-columns--is-none {
    --spacing: 0;
}

.a-columns--is-small {
    --spacing: 0.5em;
}

.a-columns--is-medium {
    --spacing: 1.0em;
}

.a-columns--is-large {
    --spacing: 1.5em;
}

.a-columns > * + * {
    margin-left: var(--spacing);
}

@media (max-width: 1023px) {
    .a-columns:not(.a-columns--wrap-none) {
        flex-direction: column;
        align-items: normal;
    }

    .a-columns.a-columns:not(.a-columns--wrap-none) > * + * {
        margin-left: 0;
        margin-top: var(--spacing);
    }
}