.a-heading {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

.a-heading--1 {
    font-size: 2.15em;
    font-weight: bold;
}

.a-heading--2 {
    font-size: 1.65em;
    font-weight: bold;
}

.a-heading--3 {
    font-size: 1.50em;
    font-weight: bold;
}

.a-heading--4 {
    font-size: 1.35em;
    font-weight: bold;
}

.a-heading--5 {
    font-size: 1.20em;
    font-weight: bold;
}

.a-heading--6 {
    font-size: 1.05em;
    font-weight: bold;
}