.a-heading {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

.a-heading--1 {
    font-size: 2.15em;
    font-weight: bold;
}

.a-heading--2 {
    font-size: 1.90em;
    font-weight: bold;
}

.a-heading--3 {
    font-size: 1.50em;
    font-weight: bold;
}

.a-heading--4 {
    font-size: 1.35em;
    font-weight: bold;
}

.a-heading--5 {
    font-size: 1.20em;
    font-weight: bold;
}

.a-heading--6 {
    font-size: 1.05em;
    font-weight: bold;
}

.a-heading--margin-small {
    margin: 0.25em 0;
}

.a-heading--margin-medium {
    margin: 0.4em 0;
}

.a-heading--margin-large {
    margin: 0.6em 0;
}