.a-input {
    display: block;
    width: 100%;
}

.a-input[type="checkbox"] {
    -webkit-appearance: none;
    display: block;
    width: calc(1.15em + var(--padding-default));
    height: calc(1.15em + var(--padding-default));

    position: relative;
    cursor: pointer;
}

.a-input[type="checkbox"]:checked:after {
    content: '\2714';

    display: block;
    width: 100%;
    text-align: center;

    font-size: 1.35em;
    left: 0;
    top: 5%;

    position: absolute;
}