.a-input {
    display: block;
    width: 100%;
}

.a-input[type="checkbox"] {
    -webkit-appearance: none;
    display: block;
    width: calc(1.15em + var(--padding-default));
    height: calc(1.15em + var(--padding-default));

    position: relative;
}

.a-input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 1.35em;
    right: 19%;
    bottom: 10%;
    position: absolute;
}