.a-stack {
    --spacing: 1.5em;

    display: flex;
    flex-direction: column;
}

.a-stack--is-none {
    --spacing: 0;
}

.a-stack--is-small {
    --spacing: 0.5em;
}

.a-stack--is-medium {
    --spacing: 1.0em;
}

.a-stack--is-large {
    --spacing: 1.5em;
}

.a-stack > * + * {
    margin-top: var(--spacing);
}
